global
    maxconn 16384

resolvers docker
    parse-resolv-conf
    resolve_retries 3
    timeout resolve 1s
    timeout retry 1s
    hold valid 10s

defaults
    mode http
    timeout connect 500ms
    timeout client 30s
    timeout server 30s
    timeout queue 30s
    timeout check 10s
    timeout http-keep-alive 10s
    http-reuse safe
    retries 1
    option redispatch
    no log
    default-server init-addr none

frontend http_front
    bind *:80

    use_backend order_back if { path_beg /orders/ }
    use_backend payment_back if { path_beg /payment/ }
    use_backend stock_back if { path_beg /stock/ }

backend order_back
    http-request replace-uri /orders/(.*) /\1
    balance leastconn
    option httpchk
    http-check send meth GET uri /health
    server order1 order-service-1:5000 check inter 5s maxconn 2000 resolvers docker resolve-prefer ipv4
    server order2 order-service-2:5000 check inter 5s maxconn 2000 resolvers docker resolve-prefer ipv4

backend payment_back
    http-request replace-uri /payment/(.*) /\1
    balance leastconn
    option httpchk
    http-check send meth GET uri /health
    server payment1 payment-service:5000 check inter 5s maxconn 1000 resolvers docker resolve-prefer ipv4
    server payment2 payment-service-2:5000 check inter 5s maxconn 1000 resolvers docker resolve-prefer ipv4

backend stock_back
    http-request replace-uri /stock/(.*) /\1
    balance leastconn
    option httpchk
    http-check send meth GET uri /health
    server stock1 stock-service:5000 check inter 5s maxconn 1000 resolvers docker resolve-prefer ipv4
    server stock2 stock-service-2:5000 check inter 5s maxconn 1000 resolvers docker resolve-prefer ipv4
