global
    maxconn 4096

defaults
    mode http
    timeout connect 5s
    timeout client 30s
    timeout server 30s
    http-reuse always
    no log

frontend http_front
    bind *:80

    use_backend order_back if { path_beg /orders/ }
    use_backend payment_back if { path_beg /payment/ }
    use_backend stock_back if { path_beg /stock/ }

backend order_back
    http-request replace-path /orders/(.*) /\1
    server order1 order-service-1:5000
    server order2 order-service-2:5000

backend payment_back
    http-request replace-path /payment/(.*) /\1
    server payment1 payment-service:5000
    server payment2 payment-service-2:5000

backend stock_back
    http-request replace-path /stock/(.*) /\1
    server stock1 stock-service:5000
    server stock2 stock-service-2:5000
