global
    maxconn 16384

defaults
    mode http
    timeout connect 3s
    timeout client 30s
    timeout server 30s
    timeout http-keep-alive 10s
    http-reuse safe
    retries 1
    option redispatch
    no log

frontend http_front
    bind *:80

    use_backend order_back if { path_beg /orders/ }
    use_backend payment_back if { path_beg /payment/ }
    use_backend stock_back if { path_beg /stock/ }

backend order_back
    http-request replace-path /orders/(.*) /\1
    balance roundrobin
    option httpchk
    http-check send meth GET uri /health
    server order1 order-service-1:5000 check inter 5s
    server order2 order-service-2:5000 check inter 5s

backend payment_back
    http-request replace-path /payment/(.*) /\1
    balance roundrobin
    option httpchk
    http-check send meth GET uri /health
    server payment1 payment-service:5000 check inter 5s
    server payment2 payment-service-2:5000 check inter 5s

backend stock_back
    http-request replace-path /stock/(.*) /\1
    balance roundrobin
    option httpchk
    http-check send meth GET uri /health
    server stock1 stock-service:5000 check inter 5s
    server stock2 stock-service-2:5000 check inter 5s
